{% capture footer_contents %}
  <div class="social">
    <div class="contact-icons">{% include social.liquid %}</div>
  </div>
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
